@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  
  min-width: 912px;
  min-height: 50px;
}

.nav-container {

  max-width: 1200px;
  display: flex;
  margin: 0 auto 20px;

}

.nav-icon-box {
  
  width: 50%;
  display: flex;
  gap: 15px;
}

.nav-icon img {
  width: 50px;
  object-fit: cover;
}

.nav-title h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
}

.travels{
    color: rgb(255, 84, 0);
}

.nav-item {

  width: 50%;
}


.nav-item ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;


}

.nav-item li a{
    
    text-decoration: none;
    font-weight: 400;
font-size: 18px;
color: rgb(66, 66, 71);

}


.nav-banner-section{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    min-height: 50px;

   
    background-image:linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 500px;

    border-radius: 16px;

}


.nav-bnr-content{
    text-align: center;
}
.nav-bnr-content h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 800;
    margin: 20px 0 25px;
    padding-top: 80px;
}

.nav-bnr-content p{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
}

.custom-section{
    width: 800px;
    height: 84px;
    
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    margin: 48px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-section input, button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    padding: 20px;
}



.find-now-btn{
    margin-top: 40px;
    background-color: rgb(255, 84, 0);
    font-weight: 700;
    font-size: 13px;
    color: rgb(255, 255, 255);}

.popular-section-container{
    /* border: 1px solid red; */
    max-width: 1200px;
    min-width: 912px;
    display: flex;
    margin: 60px auto 20px;
}

.popular-content-section{
    width: 50%;
    /* border: 1px solid yellow; */
}

.popular-content-section h1{
font-size: 40px;
font-weight: 800;
color: rgb(19, 19, 24);
}


.popular-content-section ul, p{
  font-size: 15px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
    }

    #read-more{
        background-color: rgb(255, 84, 0);
        color: white;
        border: none;
        padding: 10px;
        width: 170px;
        height: 52px;
    }

    .popular-content-section h1, p, ul, button{
    
        margin-bottom: 3cqw;
    }

    .popular-content-section ul{
        margin-left: 20px;
    }


.popular-tour-section-img-container{
    width: 50%;
}

.popular-tour-section-img-container img{
    width: 100%;
    height: 100%;
}

.choose-destination-container{
    /* border: 1px solid yellow; */
    max-width: 1200px;
    min-width: 912px;
    margin: 60px auto 20px;
  
}

.choos-destination-content{
    text-align: center;
    /* padding: 10px; */
}

.choos-destination-content h1{
 padding: 10px;
 color: rgb(19, 19, 24);
font-size: 40px;
font-weight: 800;
}

.choos-destination-content p{
    padding: 10px;
    color: rgba(19, 19, 24, 0.7);
font-size: 16px;
font-weight: 400;
}

.maldiv-indonesia-container{
    display: flex;
    gap: 20px;
}

.maldiv{ 
    width: 50%;
    background-image: url(../Images/Rectangle\ 5.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 

    height: 300px;

    border-radius: 16px;

}

.indonesia{
width: 50%;

background-image: url(../Images/Rectangle\ 8.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 

    height: 300px;

    border-radius: 16px;
}

.country{
    color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 28px;
font-weight: 800;
text-align: center; 
margin-top: 25%;
}

.srilanka-amarica-kashmir-container{
    display: flex;
    gap: 20px;
    margin:20px 0;

}

.srilanka{
    width: 30%;

background-image: url(../Images/Rectangle\ 6.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 

    height: 300px;

    border-radius: 16px;
}

.amarica{
    width: 60%;

    background-image: url(../Images/Rectangle\ 7.png);
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 
    
        height: 300px;
    
        border-radius: 16px;
}

.kashmir{
    width: 30%;

    background-image: url(../Images/Rectangle\ 9.png);
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 
    
        height: 300px;
    
        border-radius: 16px;
}

.bangladesh-bandarban{
    display: flex;
    gap: 20px;
    margin:20px 0;
   
}

.bangladesh{
    width: 40%;

    background-image: url(../Images/Rectangle\ 11.png);
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 
    
        height: 300px;
    
        border-radius: 16px;
}

.bandarban{

    width: 60%;

    background-image: url(../Images/Rectangle\ 10.png);
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 
    
        height: 300px;
    
        border-radius: 16px;

}

.text-align_1{
    margin-top: 50%;
}

.text-align_3{
    margin-top: 18%;
}

/* <!-- why choose us section  start here--> */

.choose_us_conainer{
    max-width: 1200px;
    margin: 40px auto 20px;
   

}

.choose_us_content_section{
    text-align: center;
}

.choose_us_conainer i{
    color: rgb(255, 84, 0);
}

.choose_us_content_section h1, p{
    padding: 10px;
}

.upper-two-container{
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
}

.left{
    width: 50%;
    height: 284px;
    background-color:rgba(251, 181, 99, 0.05);
    border-radius: 16px;
    padding: 10px 15px;
}

.right{
    width: 50%;
    height: 284px;
    background-color:rgba(41, 206, 246, 0.05);
    border-radius: 16px;
    padding: 10px 15px;
}

.down-card{

    width: 50%;
    height: 284px;
    background-color:rgba(251, 181, 99, 0.05);
    border-radius: 16px;
    padding: 10px 15px;

}

.down-card-container{
    display: flex;
    justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

/* <!-- why choose us section ends here -->  */


/* deals and discount section start here */

.deals_discount-container{


    max-width: 1200px;
    min-width: 912px;
    margin: 40px auto 20px;
}

.deals-discount-content{
    text-align: center;
    padding: 20px;
}

.deal_1_img_container{
    /* border: 1px solid red; */
    /* background-image: url(../Images/Group\ 39.png); */

    background-image: url(../Images/Group\ 39.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 500px;
    border-radius: 16px;
}

.deal_to_Bandarban{
    width: 575px;
    height: 385px;

    box-sizing: border-box;
border: 2px solid rgb(255, 255, 255);
border-radius: 16px;

backdrop-filter: blur(3px);
background: rgba(255, 255, 255, 0.8);
position: relative;
left: 550px;
top: 55px;
padding: 20px;
}

.deal_to_Bandarban h3{
margin: 10px 0;
}

.offer_bar{
    display: flex;
}

.offer_bar i, h3, button{
    color: rgb(255, 84, 0);
}

#book_now{
    background-color: rgb(255, 84, 0);
    color: white;

}




.deal_2_img_container{

    margin-top: 20px;
    border: 1px solid yellow;

    background-image: url(../Images/Rectangle\ 11.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 500px;
    border-radius: 16px;

}

.deal_m_img_container{
    border: 1px solid black;
    margin-top: 20px;
    border: 1px solid yellow;

    background-image: url(../Images/Group\ 39.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 500px;
    border-radius: 16px;

}


.deal_to_m_Bandarban{

    width: 575px;
    height: 385px;

    box-sizing: border-box;
border: 2px solid rgb(255, 255, 255);
border-radius: 16px;

backdrop-filter: blur(3px);
background: rgba(255, 255, 255, 0.8);
position: relative;
left: 50px;
top: 55px;
padding: 20px;

}

.deal_to_m_Bandarban h3{
    margin: 10px 0;
    }

#see_all_packages{
    width: 210px;
    height: 52px;
    color: white;
    background: rgb(255, 84, 0);
}

/* deals and discount section ends here */


/* news letter section start here */

.newsletter_section{

    max-width: 1200px;
    min-width: 912px;
    margin: 40px auto 20px;
    display: flex;
    gap: 15px;

}

.newsletter_card_container{
    width: 474px;
    height: 422px;
    border: 2px solid orange;
    padding: 15px;
    border-radius: 15px;

}

.newsletter_card_container h3{
    
    color: rgb(19, 19, 24);
font-size: 24px;
font-weight: 800;
margin: 10px;

}

.newsletter_card_container input{

    width: 393px;
    height: 52px;
    border-radius: 8px;

    border-radius: 8px;

    background: rgba(19, 19, 24, 0.05);

    padding: 10px;

    margin: 10px;
    border: none;

}

.newsletter_card_container button{
    width: 393px;
height: 52px;

border-radius: 8px;

background: rgb(255, 84, 0);
color: white;
margin: 10px;
}

/* news letter section ends here */


footer{

/* max-width: 1440px; */
min-width: 912px;
height: 502px;
background: rgba(19, 19, 24, 0.05);
}

.footer-icon-box{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    gap: 10px;
}

.footer_icon_container{
   margin-top: 30px;
}

.social_link{
    display: flex;
    justify-content: center;
}

.border{
    border-bottom: 2px solid gray;
    width: 872px;
    margin: 0 auto;

}